@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-It.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
  }
}

@layer components {
  .blue-button {
    @apply bg-intuit-blue
          text-white
          border border-intuit-border-gray
          rounded
          px-8
          py-2
          ml-2
          flex
          justify-center
          items-center;
  }
}
