@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: AvenirNext;
    src: url("./fonts/AvenirNextLTPro-It.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
  }
}

@layer components {
  .blue-button {
    @apply bg-intuit-blue
          text-white
          border border-intuit-border-gray
          rounded
          px-8
          py-2
          ml-2
          flex
          justify-center
          items-center;
  }
}

@layer utilities {
  .intuit-logo {
    background-image: url("./img/logos.png");
    background-size: 562px 83px;
    background-position: 0 0;
    width: 118px;
    height: 35px;
  }

  .mint-logo {
    background-image: url("./img/logos.png");
    background-size: 100px 100px;
    background-position: -50 -50;
    width: 23px;
    height: 23px;
    display: block;
  }
}
